@{
    ViewBag.Title = "Arduino" + " Portfolio"; // TODO dynamic title based on portfolio name
}

@section pageActions {
    <ul class="pageActions">
        <li>
            <a href="#">Upload new item</a>
        </li>
        <li>
            <a href="#">Rename Portfolio</a>
        </li>
        <li>
            <a href="#">Delete Portfolio</a>
        </li>
    </ul>
}

<div class="row">
    <ul class="icon-grid">
        <li>
            <a href="#" class="icon-grid-thumb text">
                <span></span>
            </a>
            Blinking an LED
        </li>
        <li>
            <a href="#" class="icon-grid-thumb video">
                <span></span>
            </a>
            Playing sounds
        </li>
        <li>
            <a href="#" class="icon-grid-thumb image">
                <span></span>
            </a>
            Understanding circuits
        </li>
        <li>
            <a href="#" class="icon-grid-thumb video">
                <span></span>
            </a>
            Definitions
        </li>
        <li>
            <a href="#" class="icon-grid-thumb video">
                <span></span>
            </a>
            IR Sensing
        </li>
        <li>
            <a href="#" class="icon-grid-thumb text">
                <span></span>
            </a>
            Bluetooth controls
        </li>
        <li>
            <a href="#" class="icon-grid-thumb image">
                <span></span>
            </a>
            Solar battery
        </li>
        <li>
            <a href="#" class="icon-grid-thumb video">
                <span></span>
            </a>
            Intruder alert!
        </li>
        <li>
            <a href="#" class="icon-grid-thumb image">
                <span></span>
            </a>
            Automatic cat feeder
        </li>
        <li>
            <a href="#" class="icon-grid-thumb text">
                <span></span>
            </a>
            Automatic dog trainer
        </li>
    </ul>
</div>