@{
    ViewBag.Title = "Arduino" + " Portfolio"; // TODO dynamic title based on portfolio name
}

<div class="row">
    <ul class="icon-grid">
        <li>
            <div class="icon-grid-thumb"></div>
            Blinking an LED
        </li>
        <li>
            <div class="icon-grid-thumb"></div>
            Playing sounds
        </li>
        <li>
            <div class="icon-grid-thumb"></div>
            Understanding circuits
        </li>
        <li>
            <div class="icon-grid-thumb"></div>
            Definitions
        </li>
        <li>
            <div class="icon-grid-thumb"></div>
            IR Sensing
        </li>
        <li>
            <div class="icon-grid-thumb"></div>
            Bluetooth controls
        </li>
        <li>
            <div class="icon-grid-thumb"></div>
            Solar battery
        </li>
        <li>
            <div class="icon-grid-thumb"></div>
            Intruder alert!
        </li>
        <li>
            <div class="icon-grid-thumb"></div>
            Automatic cat feeder
        </li>
        <li>
            <div class="icon-grid-thumb"></div>
            Automatic dog trainer
        </li>
    </ul>
</div>
